[viewBag]
==
<meta property="og:title" content="Sir Dancelot - Fusion & Modern Jive Dance Blog" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Fusion & Modern Jive Dance thoughts, tips and techniques">
<meta property="og:image" content="https://sir-dancelot.com/themes/dancelot/assets/images/thumbnail.jpg">
<meta property="og:url" content="https://sir-dancelot.com/">
<meta name="twitter:card" content="https://sir-dancelot.com/themes/dancelot/assets/images/thumbnail.jpg">
