@media screen and (min-width: 1600px) {
    section#layout-content .content {
        max-width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --header-height: 9rem;
        --footer-height: 6rem;
        --logo-height: 6rem;
        --thumb-size: 8rem;
        --base-pad: 1rem;

        --base-font: 2rem;
        --base-head: calc(var(--base-font) * 1.6);
    }
    
    ul.post-list {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .post-list-item {
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .post-list-container {
        max-width: 98%;
        min-width: 80%;
        width: 98%;
        padding-left: calc(var(--base-pad) / 2);
        padding-right: calc(var(--base-pad) / 2);

        padding-top: calc(var(--base-pad) * 2);
        margin: 0 auto;
    }
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.25) and (max-width: 1200px), 
(min-resolution: 120dpi) and (max-width: 1200px){ 
    :root {
        --header-height: 8rem;
        --footer-height: 6rem;
        --logo-height: 5rem;
        --thumb-size: 8rem;
        --base-font: 1.4rem;
        --base-pad: 1.3rem;
    }
}


@media 
(-webkit-min-device-pixel-ratio: 2.5) and (min-width: 900px), 
(min-resolution: 250dpi) and (min-width: 900) { 
    :root {
        --header-height: 18rem;
        --footer-height: 6rem;
        --logo-height: 14rem;
        --thumb-size: 12rem;
        --base-font: 3rem;
        --base-pad: 3rem;
    }

}