:root {
    --header-height: 11rem;
    --logo-height: 5.625rem;
    --logo-width: calc(var(--logo-height) * 3.09);
    --footer-height: 6rem;
    --thumb-size: 10rem;
    --base-font: 1.25rem;
    --base-pad: 2rem;
    --base-head: calc(var(--base-font) * 2);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
}

a {
    color: #32507c;
}

a:link {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#footer {
    text-align: center;
    font-family: 'Bellota Text';
    font-size: calc(var(--base-font) * 0.9);
    height: var(--footer-height);
}


header#layout-header {
    height: var(--header-height);
}

.header-logo-container {
    padding-top: var(--base-head);
    text-align: center;
    width: 100%;
}

.header-logo img {
    width: var(--logo-width);
    height: var(--logo-height);
}

.header-logo {    
    margin: 0 auto;
}

.post-announce {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


section#layout-content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin-top: var(--base-pad);
}

.post-list-container {
    max-width: 960px;
    min-width: 50%;
    width: 75%;
    padding-left: calc(var(--base-pad) * 3);
    padding-top: var(--base-pad);
    margin: 0 auto;
}

ul.post-list {
    list-style: none;
    margin-top: 0px;
}

.post-announce h3 {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;

    color: #32507c;
    text-align: left;
    vertical-align: text-top;
    font-size: var(--base-head);

    line-height: 1.1;
    border-style: hidden;
    outline: none;

    margin-top: 0px;
    margin-bottom: 0px;
}

.post-list p.excerpt {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--base-font);
    margin-top: calc(var(--base-pad) / 2);
}

.post-list-item {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 3rem;
}

.post-list .post-image-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    min-width: var(--thumb-size);
    opacity: 0.7;
    filter:saturate(0.7);
    transition: ease-in-out all 0.3s;
    border: solid 5px #32507c30;
    border-radius: 100%;

    background-position: center center;
    background-size: var(--thumb-size) var(--thumb-size);
    background-repeat: no-repeat;
}

.post-list-item:hover .post-image-thumb {
    filter:saturate(1);
    opacity: 1;
    background-size: calc(var(--thumb-size-big) * 1.1) calc(var(--thumb-size-big) * 1.1);
}

.text-center {
    text-align: center;
}

.lang-selector-wrapper {
    width: var(--logo-width);
    text-align: center;
    background-color: #E7F0F5;
    padding: calc(var(--base-pad) / 3) calc(var(--base-pad) / 2);
    font-size: calc(var(--base-font) * 0.7);
    color: #566172;
    display: flex;
    gap: calc(var(--base-pad));
    border-radius: 2rem;
    margin: calc(var(--base-pad) / 2) auto var(--base-pad) auto;
    justify-content: center;
}

.lang-selector-wrapper .language a {
    display: flex;
    gap: calc(var(--base-pad) * 0.5);
    align-items: center;
    text-decoration: none;
    color: #566172;
}

.lang-selector-wrapper .language img {
    width: calc(var(--base-font) * 0.8);
    height: calc(var(--base-font) * 0.8);
}

p img {
    max-width: 90vw;
}